<!DOCTYPE HTML>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    
    <link rel="stylesheet" href="style.css" />
    
	<title>Privacy policy</title>
</head>

<body>

<div class="text_info">    
    <p>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</p>
    <p>AFG Mobile Protection ценит конфиденциальность наших пользователей</p>
    <p>Данная Политика конфиденциальности регулирует предоставление сервиса AFG Mobile Protection.</p>
    <p>ОБЩАЯ ИНФОРМАЦИЯ</p>
    <p>Данная Политика конфиденциальности содержит важную информацию относительно использования и разглашения информации о пользователях, собираемую AFG Mobile Protection. AFG Mobile Protection предоставляет эту информацию, чтобы помочь Вам принять обоснованное решение о том, использовать или продолжать использовать сервис AFG Mobile Protection.</p>
    <p>Данная Политика конфиденциальности включена и является частью Условий использования сервиса AFG Mobile Protection. Ваше использование сервиса AFG Mobile Protection и предоставление информации сервису AFG Mobile Protection по прежнему регулируется Условиями использования сервиса AFG Mobile Protection.</p>
    <p>СОГЛАСИЕ НА ИСПОЛЬЗОВАНИЕ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</p>
    <p>Для обеспечения сервиса AFG Mobile Protection мы собираем, храним, используем и отображаем Ваши личные данные и географическое расположение Ваших мобильных устройствах (мы называем это "сведения о расположении" или "географическое положение").</p>
    <p>Для того, чтобы пользоваться сервисом AFG Mobile Protection, Вы обязаны дать согласие на использование местоположения Вашего устройства для предоставления Вам сервиса AFG Mobile Protection, в том числе отображения и раскрытия Вашей информации о местоположении.</p>
    <p>ИНФОРМАЦИЯ, КОТОРУЮ СОБИРАЕТ СЕРВИС</p>
    <p>УСЧЕТНЫЕ ДАННЫЕ: Вы предоставляете AFG Mobile Protection определенную персональную информацию (например, идентификатор устройства, наименование мобильного оператора / операторов, Ваше имя, адрес электронной почты и т.д.).</p>
    <p>ИНФОРМАЦИЯ О МЕСТОНАХОЖДЕНИИ: Для обеспечения сервиса AFG Mobile Protection, мы получаем информацию о местоположении от Вашего оператора мобильной связи с мобильного устройства, который вы использовали для регистрации в сервисе AFG Mobile Protection. Это отслеживания местоположения вашего мобильного устройства может произойти даже тогда, когда приложение AFG Mobile Protectionого приложения не активно, но Ваше местоположение в безопасно передается и регистрируется.</p>
    <p>COOKIES: Когда вы используете сервис AFG Mobile Protection, мы можем отправить одну или несколько cookies (небольшие текстовые файлы, содержащие строку букв и цифр) на Ваш компьютер. Cookies, установленные AFG Mobile Protection могут быть безопасно удалены. Пожалуйста, ознакомьтесь с файлом "Справка" Вашего веб-браузера, чтобы узнать, как правильно изменить настройки cookies.</p>
    <p>КАК AFG MOBILE PROTECTION ИСПОЛЬЗУЕТ ИНФОРМАЦИЮ</p>
    <p>AFG Mobile Protection использует Ваши персональные данные и информацию о местоположении для предоставления Вам и всех возможностей и функционала сервиса AFG Mobile Protection.</p>
    <p>AFG Mobile Protection использует Ваш адрес электронной почты периодически для некоммерческого маркетинга или в административных целях, таких как отправка уведомления, касающихся конфиденциальности и безопасности, уведомлений об изменениях работы сервиса AFG Mobile Protection, или для других целей обслуживания клиентов.</p>
    <p>AFG Mobile Protection не использует вашу персональную информацию или информацию о местоположении для отправки коммерческих или маркетинговых текстовых SMS сообщений или сообщений электронной почты для Вас без Вашего согласия.</p>
    <p>КОГДА AFG MOBILE PROTECTION РАСКРЫВАЕТ ИНФОРМАЦИЮ</p>
    <p>AFG Mobile Protection может раскрыть личную информацию или информацию о местоположении, по требованию компетентных органов если это требуется по закону.</p>
    <p>AFG Mobile Protection не передает Вашу персональную информацию или персональную информацию о местоположении третьим лицам без Вашего согласия.</p>
    <p>НАША ЗАБОТА О СОХРАННОСТИ ДАННЫХ</p>
    <p>AFG Mobile Protection использует коммерчески разумные физические, управленческие и технические меры для защиты и сохранности данных. Мы не можем, однако, обеспечить или гарантировать безопасность любой информации, которую AFG Mobile Protection получает от Вашего имени, и Вы делаете это на свой страх и риск.</p> 
    <p>Если мы получим информацию о взломе системы безопасности, мы можем попытаться уведомить вас для принятия соответствующих мер защиты.</p> 
    <p>В СЛУЧАЕ СЛИЯНИЯ, ПРОДАЖИ ИЛИ БАНКРОТСТВА</p>
    <p>В случае, если AFG Mobile Protection приобретается или объединяется с третьим лицом, мы оставляем за собой право, передавать или уступать информацию, которую мы собрали о наших пользователей в рамках такого слияния, приобретения, продажи или другие изменений для обеспечения непрерывной работы сервиса AFG Mobile Protection. В маловероятном случае нашего банкротства, неплатежеспособности, реорганизации, или назначения в интересах кредиторов, или применение законов или справедливых принципов, затрагивающих права кредиторов, как правило, мы сделаем все, что в наших силах, чтобы защитить Вашу персональную информацию.</p> 
    <p>ИЗМЕНЕНИЯ И ОБНОВЛЕНИЯ В ПОЛИТИКЕ КОНФИДЕНЦИАЛЬНОСТИ</p>
    <p>Эта политика конфиденциальности может периодически пересматриваться без дополнительного уведомления Вас и это будет отражено в строке "Последнее изменение" ниже. Пожалуйста, заходите на эту страницу, чтобы оставаться в курсе любых изменений. Ваше дальнейшее использование сервиса AFG Mobile Protection означает Ваше безоговорочное согласие с этой политикой конфиденциальности и любых будущих изменений. Если мы решим изменить нашу политику конфиденциальности, мы обязательно опубликуем эти изменения в Политике конфиденциальности чтобы Вы знали, какую информацию мы собираем, как мы ее используем и при каких обстоятельствах, если таковые имеются, мы ее раскрываем.</p>
    <p>В случае изменения в настоящую Политику конфиденциальности, которая может существенно изменять рамки нашего использования или разглашения персональной информации, мы будем предпринимать разумные усилия, чтобы уведомить Вас и получить Ваше согласие, прежде чем внедрять такие изменения в отношении такой информации. Если мы делаем такие изменения в Политике конфиденциальности, мы сообщим Вам здесь, в этой Политике конфиденциальности, по электронной почте или посредством уведомления на странице сервиса AFG Mobile Protection.</p>
    <p>КОНТАКТЫ</p>
    <p>Для связи с нашим менеджером по любым вопросам или комментариями пишите на электронный ящик support@afgmp.com.</p>
    <p>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ АКТУАЛЬНА НА 17 ФЕВРАЛЯ 2013 ГОДА.</p>
    <p>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ ПОСЛЕДНИЙ РАЗ ИЗМЕНЯЛАСЬ 17 ФЕВРАЛЯ 2013 ГОДА.</p>
</div>

</body>
</html>